app/
**/.DS_Store
src/deploy
src/blockly_uncompressed.js
src/blocks_compressed.js
src/lua_compressed.js
src/tools/esptool/build
src/tools/esptool/dist
src/blockly_accessible_uncompressed.js
src/test.js
src/blockly_compressed.js
src/blockly_uncompressed.js
src/lua_compressed.js
src/wc.js
src/blocks_compressed.js
tmp/
build/
node_modules/
cache/
src/tmp.js
package-lock.json
